.log{
	width: 50px;
	height: 40px;
}
.sitename{
	margin: 15px;
	font-family:cursive; 
	font-size: 20px; 
	color: 'white';
}
.Login{
	color: white;
	height: 100vh;
}

.submit{
	margin-top: 20px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 520px;
  }
}
.form{
	border-radius: 5px;
	width: 350px;
	display: inline-block;
	margin-left: 30px;
}
.search{
	display: inline-block;
	margin-left: 2px;
	width: fit-content;
}

.login{
	display: inline-block;
	margin-left: 1px;
	width: fit-content;
}

.favv{
	border: 0px;
	color: black;
	right: 5px;
	position: absolute;
	transform: scale(1);
	background-color: rgb(247 247 247);
	transition: .3s ease-in-out;
}

.favv_disabled{
	border: 0px;
	background-color: rgb(247 247 247);
	color: gray;
	right: 5px;
	position: absolute;
}

.favv:active{
	color: red;
}

.favv:hover{
	transform: scale(1.25);
	color: red;
}

.name{
	color: aquamarine;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-left: 15px;
}
.nameHead{
	color: wheat;
	position: relative;
	margin: 10px;
	margin-left: 10%;
}

.loginpage{
	width:70%;
}

.errormsg{
	color: red;
}
.informsg{
	color: rgb(13, 196, 186);
}

.favourites{
	text-decoration:none;
	display: inline-block;
	color: rgb(231, 222, 222);
	margin-right: 20px;
	transform: scale(1);
	transition:.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.favourites:hover{
	text-decoration: none;
	color:white;
	transform: scale(1.2);	
}


.form:focus{
	outline: none;
}

.card{
	width: 18rem;
	height: 10rem;
	/* -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out; */
}

/* .card:hover{
	-webkit-transform: scale(1.06);
	transform: scale(1.06);
} */

.card_title{
	text-decoration: none;
	font-size:larger;
}
.card_footer{
	font-size: large;
}
.infoheaders{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
}

.info{
	display: inline-block;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.episodelist{
	display: block;
    border: solid 2px gray ;
    box-shadow: 0 0 0 2px grey;
    border-radius: 5px;
    margin: 6px;
	transform: scale(1);
	transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.episodelist:hover{
	cursor: pointer;
	transform: scale(1.06);
}

.seen{
	color: gray;
}

.episodelist:hover {
  color: #0eb7da;
}

.animename{
	font-size: large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.animeepisode{
	font-size: medium;
}
.episodenum{
	margin-left: 5px;
	font-size: large;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}
.loader{
	display: flex;
	justify-content: center;
	background-color: black;
}

.playerbox{
	width: 100%; 
	height: 100%; 
	z-index: 2000; 
	opacity: 1; 
	transform: scale(1); 
	overflow: hidden; 
	/* overflow-y: inherit; */
	position: fixed; 
	inset: 0px; 
	background: rgba(0, 0, 0, 0.5);
}

.videocontainer{
	width: 85%; 
	aspect-ratio: 1.78; 
	display: inline-block; 
	vertical-align: middle; 
	margin: 0 auto;
	max-width: 100%; 
	background: rgb(30, 30, 30); 
	position: fixed; 
	top: 0.75rem; 
	right: 0px; 
	left: 0px; 
	z-index: 99999; 
	outline: 0px; 
	word-break: break-all; 
	border-radius: 0.55rem;
	overflow: hidden;
}

.close{
	width: 3rem; 
	z-index: 99999; 
	position: relative;
	padding: 3px;
	padding-bottom: 7px;
	margin-top: 2px;
	transform: scale(1);
	transition: .4s ease-in-out;
}

.close:hover{
	background-color: white;
	color:black;
	transform: scale(1.09);
}

.videoplayer{
	background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/* overflow: hidden; */
	width: 100%;
	aspect-ratio: 16/9;
}

.video{
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	position:absolute;
    width: 99%;
    height: 99%;
    margin: auto;
    background: transparent;
	/* overflow-y: inherit; */
}

@media screen and (max-width:1400px){
	.card{
		width: 15rem;
	}
}

@media screen and (max-width:1200px){
	.card{
		width: 12rem;
	}
	.videocontainer{
		top: 2.5rem;
		width: 95%;
	}
}

@media screen and (max-width:992px){
	.form{
		margin-left: auto;
		width: 450px;
	}
	.search{
		margin-left: 100px;
	}
	.login{
		margin-left:45%;
	}
	.card{
		width: 18rem;
	}
	.sidebutton{
		display: inline-block;
		width: initial;
		height: fit-content;
	}
	.favourites{
		display: block;
		margin-bottom: 5px;
	}
	.videocontainer{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.form{
		width: 75%;
	}
	.search{
		margin-left: auto;
	}
	.login .account{
		width: 20%;
	}
	.card{
		width: 25rem;
		margin: 0 auto;
	}
	.loginpage{
		width: 78%;
	}
}

@media screen and (max-width: 400px) {
	.log{
		width: 40px;
		height: 35px;
	}
	.sitename{
		margin: 10px;
	}
	.card{
		width: 18rem;
	}
	.loginpage{
		width: 90%;
	}
}

@media screen and (max-width:310px){
	.log{
		width: 30px;
	}
	.sitename{
		margin: 5px;
		font-size: 15px;
	}
	.card{
		width: 12rem;
	}
}
	
